<!DOCTYPE html>
<html{{ with .Site.LanguageCode }} lang="{{ . }}"{{ end }}>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/style.css">
{{ block "head-inject" . }}{{ end }}
<title>{{ .Title }}</title>
{{ partial "ga" . }}
</head>
<body>
{{ partial "sitemenu.html" . }}
{{ block "body" . }}
<h1>{{ .Title }}</h1>
{{ .Content }}
{{ end }}
<footer>
<hr>
{{ if eq .Kind "section" }}
{{ $p := .Site.GetPage "section" .Section }}
{{ range first 1 $p.Pages.ByDate.Reverse }}
<p>Last updated: {{ .Date.Format "2006/01/02 03:04:05" }}</p>
{{ end }}
{{ else }}
<p>Last updated: {{ .Lastmod.Format "2006/01/02 03:04:05" }}</p>
{{ end }}
<p>{{ .Site.Copyright | safeHTML }}</p>
</footer>
</body>
