{{ define "head-inject" }}
{{- partial "paginator-meta.html" . }}
{{- if .RSSLink }}
<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}">
<link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}">
{{- end }}{{ end }}

{{ define "body" }}
<h1>{{ .Title }}</h1>{{ .Content }}
{{- $cur := add 1 (mul .Paginator.PageSize (sub .Paginator.PageNumber 1)) }}
<ol start="{{ $cur }}">{{ range .Paginator.Pages }}
<li><a href="{{ .RelPermalink }}">{{.Date.Format "2006年01月02日"}} {{ .Title }}</a></li>{{ end }}
</ol>
{{- partial "paginator.html" . }}
{{ end }}
